In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/discover-the-menu/menupage.csv
/kaggle/input/discover-the-menu/dish.csv
/kaggle/input/discover-the-menu/menu.csv
/kaggle/input/discover-the-menu/menuitem.csv
/kaggle/input/discover-the-menu/datapackage.json

In [2]:
!pip install scikit-learn-extra

Collecting scikit-learn-extra
  Downloading scikit_learn_extra-0.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 25.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn-extra) (1.23.5)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn-extra) (1.11.2)
Requirement already satisfied: scikit-learn>=0.23.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn-extra) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (3.1.0)
Installing collected packages: scikit-learn-extra
Successfully installed scikit-learn-extra-0.3.0

In [3]:
from sklearn_extra.cluster import KMedoids

In [4]:
dish = pd.read_csv('/kaggle/input/discover-the-menu/dish.csv')

In [5]:
dish.head()

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
0,1,Consomme printaniere royal,NaN,8,8,1897,1927,0.20,0.4
1,2,Chicken gumbo,NaN,111,117,1895,1960,0.10,0.8
2,3,Tomato aux croutons,NaN,14,14,1893,1917,0.25,0.4
3,4,Onion au gratin,NaN,41,41,1900,1971,0.25,1.0
4,5,St. Emilion,NaN,66,68,1881,1981,0.00,18.0

In [6]:
dish.shape

(426740, 9)

In [7]:
dish.describe()

,id,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
count,426740.000000,0.0,426740.000000,426740.000000,426740.000000,426740.000000,397639.000000,397639.000000
mean,266438.807693,NaN,3.045430,3.126079,1662.388843,1666.144374,0.957152,1.590395
std,151548.608313,NaN,27.712989,29.854850,665.369340,666.038925,6.686869,12.643656
min,1.000000,NaN,0.000000,-6.000000,0.000000,0.000000,0.000000,0.000000
25%,133385.750000,NaN,1.000000,1.000000,1900.000000,1900.000000,0.000000,0.000000
50%,271534.500000,NaN,1.000000,1.000000,1914.000000,1917.000000,0.000000,0.000000
75%,399909.250000,NaN,1.000000,1.000000,1949.000000,1955.000000,0.400000,0.550000
max,519172.000000,NaN,7747.000000,8495.000000,2928.000000,2928.000000,1035.000000,3050.000000

In [8]:
dish.tail()

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
426735,519144,Vanilla and chocolate ice cream,NaN,1,1,0,0,0.0,0.0
426736,519169,Mutton soup with Porto wine Cream soup Chicago...,NaN,1,1,0,0,0.0,0.0
426737,519170,Moussaka Oriental style Montana roebucks saddl...,NaN,1,0,0,0,0.0,0.0
426738,519171,Prima Classe,NaN,1,1,0,0,0.0,0.0
426739,519172,Comandante Cap. Sup. Mario Crepaz,NaN,1,1,0,0,0.0,0.0

In [9]:
dish.isnull()

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
0,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
426735,False,False,True,False,False,False,False,False,False
426736,False,False,True,False,False,False,False,False,False
426737,False,False,True,False,False,False,False,False,False
426738,False,False,True,False,False,False,False,False,False
426739,False,False,True,False,False,False,False,False,False

In [10]:
dish.isnull().sum()

id                     0
name                   0
description       426740
menus_appeared         0
times_appeared         0
first_appeared         0
last_appeared          0
lowest_price       29101
highest_price      29101
dtype: int64

In [11]:
dish.drop(['id', 'name', 'description', 'menus_appeared', 'times_appeared'], axis=1, inplace=True)
dish

        first_appeared  last_appeared  lowest_price  highest_price
0                 1897           1927          0.20            0.4
1                 1895           1960          0.10            0.8
2                 1893           1917          0.25            0.4
3                 1900           1971          0.25            1.0
4                 1881           1981          0.00           18.0
...                ...            ...           ...            ...
426735               0              0          0.00            0.0
426736               0              0          0.00            0.0
426737               0              0          0.00            0.0
426738               0              0          0.00            0.0
426739               0              0          0.00            0.0

[426740 rows x 4 columns]

In [12]:
dish.isnull().sum()

first_appeared        0
last_appeared         0
lowest_price      29101
highest_price     29101
dtype: int64

In [13]:
dish.dropna(axis=0, inplace=True)
dish

        first_appeared  last_appeared  lowest_price  highest_price
0                 1897           1927          0.20            0.4
1                 1895           1960          0.10            0.8
2                 1893           1917          0.25            0.4
3                 1900           1971          0.25            1.0
4                 1881           1981          0.00           18.0
...                ...            ...           ...            ...
426735               0              0          0.00            0.0
426736               0              0          0.00            0.0
426737               0              0          0.00            0.0
426738               0              0          0.00            0.0
426739               0              0          0.00            0.0

[397639 rows x 4 columns]

In [14]:
dish.isna().sum()

first_appeared    0
last_appeared     0
lowest_price      0
highest_price     0
dtype: int64

In [15]:
dish = dish[:50000]

In [16]:
features = dish[["first_appeared", "last_appeared", "lowest_price", "highest_price"]]
features

       first_appeared  last_appeared  lowest_price  highest_price
0                1897           1927          0.20            0.4
1                1895           1960          0.10            0.8
2                1893           1917          0.25            0.4
3                1900           1971          0.25            1.0
4                1881           1981          0.00           18.0
...               ...            ...           ...            ...
51569            1900           1900          0.00            0.0
51570            1900           1958          0.00            0.5
51572            1900           1900          0.00            0.0
51573            1900           1938          0.00            0.5
51574            1900           1900          0.00            0.0

[50000 rows x 4 columns]

In [17]:
kmedoids = KMedoids(n_clusters=25, metric='euclidean', random_state=42)

In [18]:
kmedoids.fit(features)

/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 1 is empty! self.labels_[self.medoid_indices_[1]] may not be labeled with its corresponding cluster (1).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 2 is empty! self.labels_[self.medoid_indices_[2]] may not be labeled with its corresponding cluster (2).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 3 is empty! self.labels_[self.medoid_indices_[3]] may not be labeled with its corresponding cluster (3).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 4 is empty! self.labels_[self.medoid_indices_[4]] may not be labeled with its corresponding cluster (4).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 5 is empty! self.labels_[self.medoid_indices_[5]] may not be labeled with its corresponding cluster (5).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 7 is empty! self.labels_[self.medoid_indices_[7]] may not be labeled with its corresponding cluster (7).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 8 is empty! self.labels_[self.medoid_indices_[8]] may not be labeled with its corresponding cluster (8).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 9 is empty! self.labels_[self.medoid_indices_[9]] may not be labeled with its corresponding cluster (9).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 10 is empty! self.labels_[self.medoid_indices_[10]] may not be labeled with its corresponding cluster (10).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 11 is empty! self.labels_[self.medoid_indices_[11]] may not be labeled with its corresponding cluster (11).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 12 is empty! self.labels_[self.medoid_indices_[12]] may not be labeled with its corresponding cluster (12).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 13 is empty! self.labels_[self.medoid_indices_[13]] may not be labeled with its corresponding cluster (13).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 14 is empty! self.labels_[self.medoid_indices_[14]] may not be labeled with its corresponding cluster (14).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 15 is empty! self.labels_[self.medoid_indices_[15]] may not be labeled with its corresponding cluster (15).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 17 is empty! self.labels_[self.medoid_indices_[17]] may not be labeled with its corresponding cluster (17).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 18 is empty! self.labels_[self.medoid_indices_[18]] may not be labeled with its corresponding cluster (18).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 19 is empty! self.labels_[self.medoid_indices_[19]] may not be labeled with its corresponding cluster (19).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 20 is empty! self.labels_[self.medoid_indices_[20]] may not be labeled with its corresponding cluster (20).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 21 is empty! self.labels_[self.medoid_indices_[21]] may not be labeled with its corresponding cluster (21).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 22 is empty! self.labels_[self.medoid_indices_[22]] may not be labeled with its corresponding cluster (22).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 23 is empty! self.labels_[self.medoid_indices_[23]] may not be labeled with its corresponding cluster (23).
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/sklearn_extra/cluster/_k_medoids.py:329: UserWarning: Cluster 24 is empty! self.labels_[self.medoid_indices_[24]] may not be labeled with its corresponding cluster (24).
  warnings.warn(

KMedoids(n_clusters=25, random_state=42)

In [19]:
kmedoids.labels_

array([ 2,  6,  2, ..., 16,  2, 16])

In [20]:
labels = kmedoids.labels_
print(labels)

[ 2  6  2 ... 16  2 16]